h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px ;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    text-decoration: underline;
    text-indent: 30px;
    text-transform: uppercase;
    color:violet;
    
}