@font-face {
    font-family: PoppinsBold;
    src: url("../fonts/Poppins-Bold.ttf");
  }
  
  @font-face {
    font-family: Vampire;
    src: url("../fonts/Vampire_Wars.otf");
  }
  
  @font-face {
    font-family: CopperplateBold;
    src: url("../fonts/CopperplateCC-Bold.ttf");
  }
  
  @font-face {
    font-family: CopperplateLight;
    src: url("../fonts/CopperplateCC-Light.otf");
  }
  
  
  @font-face {
    font-family: FreeSans;
    src: url("../fonts/Montserrat.ttf");
  }
  
  @media screen and (max-width: 650px) {
      .navbar a:not(:first-child) {display: none;}
      .navbar a.icon {
          display: block;
          float: right;
      }
  }
  @media screen and (max-width: 650px) {
      .navbar.expanded a.icon {
          position: absolute;
          right: 0;
          top: 0;
      }
      .navbar.expanded a {
          float: none;
          display: block;
          text-align: left;
      }
  }
  
  .navbar-brand{
      padding-top: 1vh;
  }
  .navbar-header{
      padding-top: 0px;
  }
  .navbar-nav{
  
      padding-top: 1vh;
      font-size: 22px;
      font-family:'Montserrat', sans-serif ;
      border-radius: 0;
      border: 0;
  }

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
    
    body{
    background: rgb(72, 190, 208);
    margin: 100px auto;
    }
    
    #slider{
    overflow:hidden;
    padding: 10px;
    background: white;
    margin:0 auto;
    width:80%;
    height: 400px;
    }
    
    .slides{
    animation-duration:1s;
    display:none;
    overflow:hidden;
    animation-name:fade;
    }
    
    img{
    width:100%;
    height: 350px;
    }
    
    #dot{
    margin:0 auto;
    text-align:center;
    }
    
    .dot{
    background:#d3d3d3;
    padding:8px;
    margin:10px 5px;
    display:inline-block;
    border-radius:50%;
    }
    
    .active{
    background:black;
    }
    
    @keyframes fade{
    from{
      opacity:0.4;
    }
    to{
      opacity:1;
    }
    }
    
    @media (max-width:567px){
    #slider{
      width:100%;
    
    }
    }
    .footer-distributed {
        background-color: #292c2f;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: normal 16px sans-serif;
        padding: 45px 50px;
      }
      
      .footer-distributed .footer-left p {
        color: #8f9296;
        font-size: 14px;
        margin: 0;
      }
      /* Footer links */
      
      .footer-distributed p.footer-links {
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        margin: 0 0 10px;
        padding: 0;
        transition: ease .25s;
      }
      
      .footer-distributed p.footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
        transition: ease .25s;
      }
      
      .footer-distributed .footer-links a:before {
        content: "·";
        font-size: 20px;
        left: 0;
        color: #fff;
        display: inline-block;
        padding-right: 5px;
      }
      
      .footer-distributed .footer-links .link-1:before {
        content: none;
      }
      
      .footer-distributed .footer-right {
        float: right;
        margin-top: 6px;
        max-width: 180px;
      }
      
      .footer-distributed .footer-right a {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-left: 3px;
        transition:all .25s;
      }
      
      .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
      
      .footer-distributed p.footer-links a:hover{text-decoration:underline;}
      
      /* Media Queries */
      
      @media (max-width: 600px) {
        .footer-distributed .footer-left, .footer-distributed .footer-right {
          text-align: center;
        }
        .footer-distributed .footer-right {
          float: none;
          margin: 0 auto 20px;
        }
        .footer-distributed .footer-left p.footer-links {
          line-height: 1.8;
        }
      }
      