body{
	height:  2000vh;
}

.container{
	width: 100%;
	height: 800px;
	background-position: center;
	background-size: cover;
	background-image:  url("../images/Homepage_Background.jpg");

	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
  font-weight: bold;
  color: #fff;
  font-size: 84px;
}