@font-face {
  font-family: PoppinsBold;
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Vampire;
  src: url("../fonts/Vampire_Wars.otf");
}

@font-face {
  font-family: CopperplateBold;
  src: url("../fonts/CopperplateCC-Bold.ttf");
}

@font-face {
  font-family: CopperplateLight;
  src: url("../fonts/CopperplateCC-Light.otf");
}


@font-face {
  font-family: FreeSans;
  src: url("../fonts/Montserrat.ttf");
}

body .index{
	height:  100vh;
}
.navbar-left{
	padding-top: 17px;
}
.navbar-header{
	padding-top: 0px;
}
.navbar-nav{
	padding-top: 17px;
	padding-bottom: 0px;
	padding-left: 25px;
	font-size: 22px;
	font-family:'Montserrat', sans-serif ;
	border-radius: 0;
	border: 0;
}
.container1{
	width: 99.99%;
	height: 800px;
	background-position: center;
	background-size:auto;
	background-image: url("../images/home.jpg");
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.col-md-6{
	padding-bottom: 150px;
}

#text{
	font-family: FreeSans;
	color: black;
}
h1 {
  color: #fff;
  font-size: 72px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', sans-serif; 
  line-height: 110%;
  letter-spacing: 1.2px;
  padding-top: -200px;

}
h2{
	color: #ffffff;
}

p{
	color: #fff;
	font-size: 40px;
	font-family: 'Franklin Gothic Medium', sans-serif; 
	line-height: 99.99%;
	letter-spacing: 1px;
	padding-top: 10px;
}
.p2{
	color: #fff;
	font-size: 30px;
	font-family: 'Franklin Gothic Medium', sans-serif; 
	line-height: 99.99%;
	letter-spacing: 1px;
	padding-top: 10px;
}
.row {
	display: flex;
  }

  .container2{
	width: 99.99%;
	background-image: url("../images/computer-engineering-science-tech-wallpaper-thumb.jpg");
	align-items: center;

  }
  .col-md-6{
  	text-align:justify;
	padding-top: 215px;  
	padding-left: 25px;
	padding-right:100px;
	color: #000000;

	font-family: 'FreeSans;';   
	font-weight: bold;   
	font-size: 40px;
	flex: 60%;
	padding-left: 30px;
  }

  .column1 {
	padding-left: 80px;
	text-align: center;
	flex: 40%;
	padding-top: 185px;
	height: 770px ;
  }


  .column2 {
	text-align:justify;
	padding-top: 215px;  
	padding-left: 25px;
	padding-right:100px;
	color: #ffffff;

	font-family: 'georgia';   
	font-weight: bold;   
	font-size: 30px;
	flex: 60%;
	padding-left: 30px;
  }

body.services{
	height: 1000px;
	
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}






/*FOOTER CODE*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 0vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
