body .index{
	height:  2000vh;
}
.navbar-header{
	padding-top: 25px;
}
.navbar-nav{
	padding-top: 25px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-size: 22px;
	font-family:'Montserrat', sans-serif ;
	border-radius: 0;
	border: 0;
}
.container1{
	width: 100%;
	height: 650px;
	background-position: center;
	background-size:auto;
	background-image: url("../images/home.jpg");
	color: white;
	display: flex;
	justify-content: center;
}

h1 {
  color: #fff;
  font-size: 72px;
  font-family: 'Montserrat', sans-serif;
  line-height: 110%;
  letter-spacing: 1.4px;
  padding-top: 125px;

}
p{
	color: #fff;
	font-size: 34px;
	font-family: 'Montserrat', sans-serif;
	line-height: 110%;
	letter-spacing: 1.4px;
	padding-top: 25px;
}
body.services{
	height: 2000vh;
	
}